/* Add these rules to your global CSS */
html,
body {
  touch-action: pan-y;
  overflow-x: hidden;
  overscroll-behavior-y: auto;
  -webkit-overflow-scrolling: touch;
}

#root {
  touch-action: pan-y;
  overscroll-behavior-y: auto;
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
